html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 375px;
    width: 250px;
    background-color: #669fb2 ;
    border: solid #669fb2  25px;
    border-radius: 25px;
    gap: 10px;
}

.statement, .statement_output {
    height: 20px;
    padding-right: 20px;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    width: 250px; 
    background-color: lightgrey;  
    border-radius: 15px;
    text-align: right;
    vertical-align: middle;
}

/* Button styling */
.edit_buttons {
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 40px;
}

.edit_buttons button {
    font-size: 16px;
    width: 100px;
}

#clear {
    background-color: #e8b877;
}

#delete {
    background-color: #e8b877;
}

/* Input / operator button styling */
.num_operator_buttons {
    display: grid;
    width: 250px;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    grid-gap: .5em;
}

.num_operator_buttons button {
    background-color: #dadfe1;
    height: 45px;
    font-size: 16px;
}


/* Footer styling */
footer {
    background-color: #669fb2;
    color: white;
    position: absolute;
    text-align: center;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: red;
}